<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Form header -->
      <div class="fadeIn first">
        <h3>Save Record</h3>
      </div>
  
       <!-- Save record form -->
       <form [formGroup]="saveRecordForm" (ngSubmit)="saveRecord()">
        <input type="text" formControlName="city"  class="fadeIn second" name="city" placeholder="City">
        <input type="date" formControlName="start_date"  class="fadeIn third" name="sartDate" placeholder="Start Date">
        <input type="date" formControlName="end_date"  class="fadeIn third" name="endDate" placeholder="End Date">
        <input type="text" formControlName="price"  class="fadeIn third" name="price" placeholder="Price">
        <input type="text" formControlName="status"  class="fadeIn third" name="status" placeholder="Status">
        <input type="text" formControlName="color"  class="fadeIn third" name="color" placeholder="Color">
        <!-- <input type="submit" class="fadeIn fourth" [disabled]="!loginForm.valid" value="Log In"> -->
        <button type="submit" class=" btn btn-lg btn-primary fadeIn fourth" [disabled]="!saveRecordForm.valid">Submit</button>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" routerLink="/Records"> View all records </a>
      </div>
  
    </div>
  </div>