<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Form header -->
      <div class="fadeIn first">
        <h3>Account Signup</h3>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Re-enter password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        Existing user? <a class="underlineHover" routerLink="/Login"> Login Now </a>
      </div>
  
    </div>
  </div>